.shop-container{
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap:0px;
    position: relative;



}

.products-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin:100px 50px;


}


@media screen and (max-width:1100px){
    .products-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:600px){
    .products-container{
        grid-template-columns: repeat(1,1fr);
        margin: 45px;

    }
    .cart-container{
        width:30%;

    }
    .shop-container{
        display: flex;
    }
}
.cart-container{
    background-color: #b2cde0;
    margin-top: 100px;
    color:aliceblue;
    width: 100%;
    display: block;
    
}

.btn-choose-the-best-one{
    width:100%;
    background-color: #6082a1;
    border: 3px;
    border-radius: 10px;
    bottom: 0px;
    align-items: center;
    padding: 10px;
    color: aliceblue;
    display: block;


}
.btn-choose-the-best-one:hover{
    background-color: rgb(31, 150, 60);
    color: whitesmoke;
}

.reset{
    background-color: #6082a1;
    border: 3px;
    border-radius: 10px;
    padding: 10px;
    color: aliceblue;
    width:40%;

}
.reset:hover{
    background-color: red;
    color: whitesmoke;
}

.cart-info-1{
    display: block;
    margin-left: 50px;
}
.order{
    text-align: center;

}