.shop-container{
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap:0px;
    position: relative;



}

.products-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin:100px 50px;


}


@media screen and (max-width:1100px){
    .products-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:600px){
    .products-container{
        grid-template-columns: repeat(1,1fr);
        margin: 45px;

    }
    .cart-container{
        display: none;
        margin: 0px;
    }
}
.cart-container{
    background-color: #b2cde0;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 0px;
    color:aliceblue;
    position: sticky;
    top:0;
    
}

.btn-choose-the-best-one{
    width:50%;
    background-color: #6082a1;
    border: 3px;
    border-radius: 10px;
    bottom: 0px;
    margin-left: 80px;
    align-items: center;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    display: block;


}
.btn-choose-the-best-one:hover{
    background-color: rgb(31, 150, 60);
    color: whitesmoke;
}

.reset{
    width:50%;
    background-color: #6082a1;
    border: 3px;
    border-radius: 10px;
    bottom: 0px;
    margin-left: 80px;
    margin-top: 20px;
    align-items: center;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    display: block;
}

.reset:hover{
    background-color: red;
    color: whitesmoke;
}